
@import "../../../node_modules/bulma/sass/components/navbar.sass";
@import "../../../node_modules/bulma/sass/elements/button.sass";

.navbar-brand .navbar-item {
    font-size: 1em;
}

.navbar-menu .navbar-item {
    font-size: 1.5em;
}

.navbar-menu .navbar-item svg  {
    margin-right: 1em;
    margin-left: 1em;
}

.navbar a {
    color: black; /* blue colors for links too */
    margin-top: 0.1cm;
  }
.navbar a:hover {
    color: black;
}
.navbar{
    background-color:#F8F8FF ;
    height: 1.5cm;
}
